@import url(color.css);
@import url(utility.css);
@import url(theme.css);

/* --body--overall */
body,html {
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

/*input type option*/
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
  height: 45px;
}
